@font-face {
  font-family: "Harmony";
  src: url("./fonts/Harmony.otf") format("openType");
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#root,
body,
canvas {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: rgb(22, 22, 21);
  background: linear-gradient(
    0deg,
    rgba(22, 22, 21, 1) 16%,
    rgba(42, 42, 42, 1) 100%
  );

  font-family: "Source Sans Pro", sans-serif;
}

canvas {
  position: fixed;
}

h1 {
  font-family: "Harmony";
  font-size: calc(3rem + 2vw);
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  font-family: "Harmony";
  font-size: 1rem;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 2px;
}
